* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: my font;
}

html,
body {

    height: 100%;
    width: 100%;
}
#main
{
   height: 100%;
   width: 100%;
   background-color: skyblue;
  
   padding: 20px;
   display: flex;
   gap: 20px;
   flex-wrap: wrap;
   


}
.card{

    height: 300px;
    width: 300px;
    background-color: white;
     border-radius: 10px;
     box-shadow: 10px 10px 20px black;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     flex-direction: column;
}
.card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;

}
.card h1{
font-size:30px;
text-transform: capitalize;
font-weight: 600;
}
.card p{
text-align: center;
font-weight: 300;
color: #666;


}
.card button{
background-color: rgb(8, 141, 185);
padding: 10px 30px;
border-radius: 20px;
border: none;
color: white;
cursor: pointer;
border: 2px solid rgb(8, 141, 185);
}
button:hover{

    background-color:transparent;
    color: black;
    transform: scale(1.2);
}
